<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">

  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="face face1 pink">
        <div class="content">
          <img src="design.svg" alt="">
          <h3>Design</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>
            Make use of our tools to design your dream homepage! It allows you to preview its visualization on Desktop and Mobile screens!
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1 green">
        <div class="content">
          <img src="code.svg" alt="">
          <h3>Code</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>
            Our text-editor is a very intuitive yet powerful tool. It has several engines that will surely help you improve your productivity!
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face face1 purple">
        <div class="content">
          <img src="launch.svg" alt="">
          <h3>Launch</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>
            After designing and building your homepage, it's time to <strong>launch</strong> it! We have it all set up to you, the only task left is to choose your domain!
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>