<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">

  <title>Document</title>
</head>
<body>
  
  <section>
    <div class="card">
      <div class="box">
        <div class="img-box">
          <img src="./assets/flower.jpg" alt="">
        </div>
        <div class="content-box">
          <div>
            <h2>Post Title</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia expedita debitis beatae, quas iusto sed fugit ipsa ratione ut repudiandae.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="img-box">
          <img src="./assets/lunch.jpg" alt="">
        </div>
        <div class="content-box">
          <div>
            <h2>Post Title</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis qui modi quia placeat ab totam doloremque sapiente fugiat voluptatem dolorum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="img-box">
          <img src="./assets/apple.jpg" alt="">
        </div>
        <div class="content-box">
          <div>
            <h2>Post Title</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis qui modi quia placeat ab totam doloremque sapiente fugiat voluptatem dolorum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="img-box">
          <img src="./assets/drink.jpg" alt="">
        </div>
        <div class="content-box">
          <div>
            <h2>Post Title</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis qui modi quia placeat ab totam doloremque sapiente fugiat voluptatem dolorum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="img-box">
          <img src="./assets/sunflower.jpg" alt="">
        </div>
        <div class="content-box">
          <div>
            <h2>Post Title</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis qui modi quia placeat ab totam doloremque sapiente fugiat voluptatem dolorum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="img-box">
          <img src="./assets/eggs.jpg" alt="">
        </div>
        <div class="content-box">
          <div>
            <h2>Post Title</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis qui modi quia placeat ab totam doloremque sapiente fugiat voluptatem dolorum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>