html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

:root {
  /* variables */
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  background: var(--dark-cyan);
  overflow: hidden;
}

body #top-bg {
  position: absolute;
  transform: translate(-25%, -50%);
  z-index: -1;
}

body #bottom-bg {
  position: absolute;
  transform: translate(70%, 40%);
  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 15px;
}

.card p {
  color: var(--dark-grayish-blue)
}

.card strong {
  color: var(--very-dark-desaturated-blue);
}

header > img {
  border-radius: 15px 15px 0 0;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
}

.profile img {
  border: 8px solid #fff;
  border-radius: 99px;
  margin-top: -4rem;
  margin-bottom: 1.5rem;;
}

.profile p {
  text-align: center;
  line-height: 1.5;
}

.profile > p > strong {
  margin-right: 0.5rem;
}

footer {
  border-radius: 0 0 15px 15px;
  border-top: 1px solid var(--dark-gray);
  display: flex;
  justify-content: space-around;

  line-height: 1;

  padding: 0.2rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

footer .info small {
  font-size: 10px;
  letter-spacing: 0.2rem;
}