<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">

  <title>Document</title>
</head>
<body>
  
  <div class="btn from-top">From Top</div>
  <div class="btn from-left">From Left</div>
  <div class="btn from-right">From Right</div>
  <div class="btn from-center">From Center</div>
  <div class="btn from-bottom">From Bottom</div>

</body>
</html>