<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./public/styles/style.css">

  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <h1 class="page-title">It's Wednesday my dudes!</h1>
  </div>

  <span data-velocity="-2" class="parallax-layer light-blue-layer" id="words-layer-1">Tristeza</span>
  <span data-velocity="3" class="parallax-layer light-purple-layer" id="words-layer-2">Depressão</span>
  <span data-velocity="4" class="parallax-layer white-layer" id="game-starter">Dor</span>
  <span data-velocity="-5" class="parallax-layer dark-blue-layer" id="words-layer-3">Ódio</span>
  <span data-velocity="-8" class="parallax-layer dark-blue-layer" id="words-layer-4">Caos</span>
  <span data-velocity="6" class="parallax-layer light-purple-layer" id="words-layer-5">Solidão</span>
  <span data-velocity="4" class="parallax-layer light-purple-layer" id="words-layer-6">Desilusão</span>
  <span data-velocity="9" class="parallax-layer light-blue-layer" id="words-layer-7">Desespero</span>
  <span data-velocity="5" class="parallax-layer light-blue-layer" id="words-layer-8">Sofrimento</span>
  <span data-velocity="-6" class="parallax-layer dark-blue-layer" id="words-layer-9">Melancolia</span>
  <span data-velocity="3" class="parallax-layer light-blue-layer" id="words-layer-10">Choro</span>


  <script src="./public/scripts/parallax.js"></script>

</body>
</html>