<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">

  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="box">
      <div class="imgBx">
        <img src="img1.jpg" alt="">
      </div>
      <div class="content">
        <h3>Post Title One</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat a consequatur excepturi odit ex repudiandae dignissimos nobis assumenda rem temporibus, molestiae architecto atque inventore dolore velit vel. Necessitatibus perspiciatis aliquam voluptates tenetur provident error cupiditate labore delectus.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img2.jpg" alt="">
      </div>
      <div class="content">
        <h3>Post Title Two</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat a consequatur excepturi odit ex repudiandae dignissimos nobis assumenda rem temporibus, molestiae architecto atque inventore dolore velit vel. Necessitatibus perspiciatis aliquam voluptates tenetur provident error cupiditate labore delectus.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img3.jpg" alt="">
      </div>
      <div class="content">
        <h3>Post Title Three</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat a consequatur excepturi odit ex repudiandae dignissimos nobis assumenda rem temporibus, molestiae architecto atque inventore dolore velit vel. Necessitatibus perspiciatis aliquam voluptates tenetur provident error cupiditate labore delectus.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img4.jpg" alt="">
      </div>
      <div class="content">
        <h3>Post Title Four</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat a consequatur excepturi odit ex repudiandae dignissimos nobis assumenda rem temporibus, molestiae architecto atque inventore dolore velit vel. Necessitatibus perspiciatis aliquam voluptates tenetur provident error cupiditate labore delectus.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img5.jpg" alt="">
      </div>
      <div class="content">
        <h3>Post Title Five</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat a consequatur excepturi odit ex repudiandae dignissimos nobis assumenda rem temporibus, molestiae architecto atque inventore dolore velit vel. Necessitatibus perspiciatis aliquam voluptates tenetur provident error cupiditate labore delectus.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <img src="img6.jpg" alt="">
      </div>
      <div class="content">
        <h3>Post Title Six</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat a consequatur excepturi odit ex repudiandae dignissimos nobis assumenda rem temporibus, molestiae architecto atque inventore dolore velit vel. Necessitatibus perspiciatis aliquam voluptates tenetur provident error cupiditate labore delectus.
        </p>
      </div>
    </div>
  </div>
</body>
</html>