@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

body {
  min-height: 100vh;
  background: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 75%);
  background-repeat: no-repeat;
}

header h1 {
  text-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  line-height: 2;
}

main ul li {
  margin: 2rem;
  transition: transform 0.2s ease-in-out;
  border-radius: 2px;
}

main ul li:hover {
  transform: translateY(-1rem);
}

main ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  font-size: 20px;
  color: #000;

  margin: 1rem;
}

main ul li img {
  width: 250px;
}