@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

:root {
  --text: 081c15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: var(--text);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

header h1 {
  text-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

header .social a img {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 3vw;
  min-width: 40px;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #d8f3dc 95%, #2d6a4f 10%);
  background-repeat: no-repeat;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  line-height: 2;
}

main ul li {
  margin: 2rem;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;

  background: #b7e4c7;

  box-shadow: 0 2px 5px 2px rgba(0,0,0,0.25);
}

main ul li:hover {
  transform: translateY(-1rem);
}

main ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  font-size: 20px;

  max-width: 250px;
}

main ul li img {
  width: 250px;
  height: 120px;
}

main ul li a p {
  margin: 2rem 0;
  text-align: center;
}

main ul li a small.status {
  color: #9e2a2b;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}
   
::-webkit-scrollbar-track {
  background:#081c15;
}
   
::-webkit-scrollbar-thumb {
background: #40916c;
}